*{
	margin: 0;
	padding: 0;
}

.navbar{
	display: flex;
	background-color: black;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor:pointer;
	font-family: 'Roboto', sans-serif;
	transition: all 0.7s ease-out;
}
html{
	scroll-behavior: smooth;
}
.navlist{
	width: 70%;
	display: flex;
	align-items: center; 
}
.navlist li{
	list-style: none;
	padding: 25px 25px;
	font-size: 20px;
}
.navlist li a{
	text-decoration: none;
	color: white;
}
.navlist li a:hover{
	text-decoration: none;
	font-size: 22px;
}
.rightNav{
	width: 40%;
	text-align: right;
	padding: 0 23px;
} 
#search{
	padding: 2px;
	font-size: 29px;
	border: 2px solid lightgrey;
	border-radius: 20px;
}
#search:hover{
	border: 4px solid lightgrey;
}
.logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
	width: 33%;
	border: 3px solid black;
	border-radius:50px;
}
.background{
	background: rgba(0, 0, 0, 0.7) url("../images/bg.jpg");
	background-size: cover;
	background-blend-mode: darken;
}
.backDiv{
	background-blend-mode: darken;
	background-color: #343736;
	border-radius: 10px;
	padding: 10px;
}
.firstSection{
	height: 100vh;
}
.box-main{
  	padding: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	max-width: 50%;
	margin: auto;
	height: 90%;
}
.firstHalf{
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.firstImage{
	width: 30%;
}
.firstImage img{
	width: 80%;
	padding: 4px 0;
	display: block;
}
.head{
	font-size: 80px;
	color: white;
}
.subhead{
	font-size: 30px;
}
.big-text{
	font-size: 80px;
	text-align: center;
	color: white;
}
.small-text{
	font-size: 30px;
	text-align: center;
}
.btn{
	padding: 6px 18px;
	margin: 7px 0;
	border: 2px solid white;
	background: none;
	color: white;
	border-radius: 20px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}
.projects{
	display: flex;
	background: grey;
	border-radius: 15px;
	font-size: 45px;
	padding: 10px;
	align-items: center;
	margin: auto;
	max-width: 40%;
	margin-top: 6px;
	padding-bottom: 10px;
	justify-content: center;

}
.projects a{
	color: black;
	font-family: 'Roboto', sans-serif;
  	word-break: break-word;
  	font-size: 28px;
}
.projects:hover{
	border: 4px solid black;
}
.btn:hover{
	color: white;
	cursor: pointer;
	border: 3px solid lightgrey;
}
.section{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-width: 50%;
	margin: auto;
	background-color: white;
	padding: 10px;
}
.pro{
	font-family: 'Roboto', sans-serif;
	color: black;
	cursor: pointer;
  	word-wrap: break-word;
}
.paras{
	padding: 0 65px;
}
.sectionSubtag{
	font-family: 'Roboto', sans-serif;
	color: black;
}
.sectionTag{
	font-family: 'Roboto', sans-serif;
	color: black;
	padding: inherit;
}
.thumbnail img{
	width: 200px;
	border: 4px solid black;
	border-radius: 180px;
	margin-top: 20px;

}
.left{
	flex-direction: row-reverse;
}
.contact{
	background-color: black;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: 100%;
}
.text-center{
	text-align: center;
	padding: 30px;
	font-size: 40px;
	color: white;
}
.form{
	margin: 25px auto;
	max-width: 1200px;
}
.form input{
	width: 100%;
	font-size: 19px;
	border: 3px solid lightgrey;
	border-radius: 20px;
	margin: 14px 0;
	padding: 5px 3px;
	font-family: 'Roboto', sans-serif;
}
.form input:hover{
	border: 4px solid lightgrey;
}
.form textarea{
	width: 1200px;
	height: 159px;
	border: 4px solid lightgrey;
	border-radius: 20px;
	padding: 14px 0;
	font-family: 'Roboto', sans-serif;
}
.form textarea:hover{
	border: 5px solid lightgrey;
	font-family: 'Roboto', sans-serif;
}
.text-footer{
	text-align: center;
	padding: 25px 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
@media only screen and (max-width: 1229px){
	.box-main{
		flex-direction: column-reverse;
		max-width: 100%;
    	height: 100vh;
	}
	.firstImage img{
		display: none;
	}
	.section{
		flex-direction: column-reverse;

	}
	.big-text{
		text-align: center;
		font-size: 20px;
	}
	.small-text{
		text-align: center;
		font-size: 15px;
	}
	.head{
		font-size: 20px;
	}
	.subhead{
		font-size: 15px;
	}
	.backDiv{
		max-width: 100%;
	}
	.form{
		max-width: 62%;
	}
	.form textarea{
		max-width: 100%;
	}
	.navlist{
		flex-direction: column;
	}
	.navbar{
		flex-direction: column;
		transition: all 0.7s ease-out;
		height: 502px;
	}
	.rightNav{
		text-align: center;
	}
	#search{
		width: 100%;
	}
	.burger{
		display: block;
		position: absolute;
		cursor: pointer;
		right: 5%;
		top: 15px;
	}
	.line{
		width: 33px;
		background-color: white;
		height: 4px;
		margin: 3px 3px;
	}
	.projects a{
		font-size: 15px;
	}
	.form input{
		font-size: 15px;
	}
	.form textarea{
		font-size: 15px;
	}
	.h-nav-resp{
		height: 50px;
	}
	.v-class-resp{
		opacity: 0;
	}
	.paras{
		padding: 0px;
	}
  .projects{
    max-width: 100%;
  }
}
